---
import { WithTooltip } from '~components/shared/molecules/WithTooltip';
import MainLayout from '~layouts/MainLayout.astro';
---

<MainLayout>
  <WithTooltip tooltipSummary='Nabilla dfsdfd' client:load>
    <div>Allo quoi ??</div>
  </WithTooltip>
</MainLayout>
