---
import { WithTooltip } from '~components/shared/molecules/WithTooltip';
import MainLayout from '~layouts/MainLayout.astro';
---

<MainLayout>
  <div class='flex h-full flex-1 items-center justify-center'>
    <WithTooltip summary='Nabilla dfsdfd' client:load>
      <div>Allo quoi ??</div>
    </WithTooltip>
  </div>
</MainLayout>
