---
import MainLayout from '~layouts/MainLayout.astro';
import { ActivitySummary } from './templates/ActivitySummary';
import { ForumSummary } from './templates/ForumSummary';
---

<MainLayout>
  <div
    class='flex flex-col space-y-6 md:space-x-6 md:flex-row md:space-y-0 max-w-7xl mx-auto min-w-[300px]'
  >
    <ActivitySummary />
    <div class='w-0.5 mi-h-full bg-gray-600 my-4'></div>
    <ForumSummary />
  </div>
</MainLayout>
