---
import MainLayout from '~shared/MainLayout.astro';
import Section from './_components/organisms/Section';
import SearchBar from './_components/templates/SearchBar';
---

<MainLayout title='Mangas'>
  <div class='flex-1 flex flex-col space-y-8'>
    <SearchBar client:idle />
    <div>
      <Section />
    </div>
  </div>
</MainLayout>
