---
import MainLayout from '~shared/MainLayout.astro';
import ConditionalDropExample from './_components/Drag';
---

<MainLayout title='Test tooltip'>
  <div class='flex flex-col h-full flex-1 items-center justify-center space-y-6'>
    <ConditionalDropExample client:load/>
  </div> 
</MainLayout>
